:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#header {
    display: flex;
    width: 800px;
}

#resetButton {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    text-decoration: none;
    font-size: 12px;
}

#container {
    width: 800px;
    height: 800px;
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    overflow: hidden;
}

.grid-item {
    background-color: lightgray;
}

.hovered {
    background-color: black;
}